/* font-family: "Noto Sans", sans-serif;
  font-family: "IBM Plex Sans", sans-serif; */

/*  */

.darkMood {
  --bg-primary-color: #000000;
  --bg-secondary-color: #dadde0;
  --border-roll-color: #8b746b;
  --bg-filter-white: #1f252c;
  --bg-filter-green: #4e5247;

  --bg-c1: #2b2520;
  --bg-c2: #1f2b26;
  --filter-c2: #1f2b26ea;
  --bg-c3: #3b2620;
  --bg-c4: #1a2734;
  --filter-c4: #1a2734da;

  /* --------------text---------- */

  --txt-blk: #e0e3e6;
  --txt-wht: #000000;
  --txt-wht-grey: ##a3a7ab;

  /* ----sun--- */
  --control-sun: #000;
  --grey-txt: #fff;
  --control-moon: #f3f3f3;

  /* gradient color  */
  --linear-1: radial-gradient(
    circle at top,
    rgba(122, 118, 118, 0.986) 5%,
    #000000 50%
  );
  --linear-2: linear-gradient(
    to top,
    rgb(247, 241, 241),
    rgba(219, 214, 214, 0.329)
  );
  --linear-3: linear-gradient(to top, rgb(247, 241, 241), #1a1a1a);

  --filter: #000000cb;

  /*others color*/
  --scrollbar-color: #000000;
  --scrollbar-thump: #f0743e;
  --scrollbar-hover: ;
}

:root {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #25282b;
  --border-roll-color: #f0733e42;
  --bg-filter-white: #e5ecf4;
  --bg-filter-green: #7b8173;

  --bg-c1: #fff9eb;
  --bg-c2: #dcefe4;
  --filter-c2: #c1e9d2b9;
  --bg-c3: #fde7d7;
  --bg-c4: #e8f1f7;
  --filter-c4: #e8f1f7b7;

  /* --------text------------ */
  --txt-blk: #25282b;
  --txt-wht: #ffffff;
  --txt-wht-grey: #52575c;

  /* --sun--  */
  --control-sun: #0000006e;
  --grey-txt: #f0f0f0c4;

  --control-moon: #fff;

  /* gradient color  */

  --linear-1: radial-gradient(
    circle at top,
    rgba(122, 118, 118, 0.986) 5%,
    #292727 50%
  );
  --linear-2: linear-gradient(to top, rgb(19, 18, 18), rgba(0, 0, 0, 0.384));
  --linear-3: linear-gradient(to top, #0a0a0a, #1a1a1a);

  --filter: #fffffff2;

  /*others color*/
  --scrollbar-color: #ffffff;
  --scrollbar-thump: #f0743e;
  --scrollbar-hover: #7b8173;

  /* transition  */
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease;
  --transition-3: 0.5s ease;

  /* fontsize  */
  --h1: 4rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 1.5rem;

  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-24: 1.5rem;

  /* z-index  */
  --z-minus: -1;
  --z-zero: 0;
  --z-low: 1;
  --z-high: 10;
  --z-100: 100;
  --z-tooltop: 1000;
  --z-fix: 1100;
  --z-overlay: 1110;
  --z-modal: 1990;
  --z-max: 9999;
}

/* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
input,
button,
i,
textarea {
  display: block;
  text-transform: capitalize;
  font-family: "Noto Sans", sans-serif;
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: fit-content;
}
.btn {
  max-width: 100%;
  width: fit-content;
  cursor: pointer;

  text-align: center;
  border-radius: 10px;
  padding: 8px 25px;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  overflow: hidden;
  outline: 0;
}

a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  color: var(--txt-blk);
  background-color: var(--bg-primary-color);

  animation: fadeed 0.5s ease-in-out;
}

@keyframes fadeed {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes wiggle {
  0%,
  5% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(10deg);
  }
  35% {
    transform: rotateZ(-15deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
p {
  font-family: "Noto Sans", sans-serif;
}
.font-14 {
  font-size: var(--font-14);
}
.font-16 {
  font-size: var(--font-16);
}
.font-18 {
  font-size: var(--font-18);
}
.font-24 {
  font-size: var(--font-24);
}

/* ==========================================================
 =====================ID section customizing=============== 
============================================================ */

/* ============----page scroll bar-----============== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--scrollbar-thump);
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
  background: var(--scrollbar-hover);
}

/* ----------------------toolTips========================= */
/* #tool-tip {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: fit-content;
  padding: 5px;
  height: auto;
  background: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  border: 1px solid var(--p-text-grey);
  cursor: pointer;
  z-index: 9999;
  transition: var(--transition-2);
}
#tool-tip:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#tool-tip a {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2px 10px;
}
#tool-tip a img {
  width: 25px;
}
#tool-tip a p {
  color: #000;
  font-size: 12px;
  font-weight: 700;
} */

/* =====================ID customizing=============== */
#hero,
#transform,
#align {
  position: relative;
  transition: var(--transition-2);
  max-width: 100%;
}
/* =====================controll customizing=============== */

/* =====================others=========================== */
.container {
  max-width: 100%;
  padding: 0.5% 2%;
}
section {
  margin: 8% 7% 5%;
  max-width: 100%;
  position: relative;
  transition: var(--transition-1);
}
header,
main,
footer {
  position: relative;
}

/* --------------------------------------------------------------
-----------------------header start here----------------------
-------------------------------------------------------------- */

header {
  max-width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  background: transparent;

  padding: 20px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  transition: var(--transition-2);
}
header .logo {
  max-width: 100%;
  width: fit-content;
  /* box-shadow: rgba(200, 200, 206, 0.25) 0px 30px 60px -12px inset,
    rgba(243, 241, 241, 0.918) 0px 18px 36px -18px inset; */
  background: #ffffffb2;
  backdrop-filter: blur(5px);
  padding: 5px 15px;
  border-radius: 25px;
  position: relative;
  transition: var(--transition-2);
  border: 1px solid var(--border-roll-color);
}
header .logo:hover {
  box-shadow: rgba(200, 200, 206, 0.25) 0px 30px 60px -12px inset,
    rgba(243, 241, 241, 0.507) 0px 18px 36px -18px inset;
}
.logo a img {
  width: 90px;
  transition: var(--transition-2);
}
.logo a img:hover {
  transform: scale(1.02);
}
nav {
  position: relative;
  max-width: 100%;
  padding: 20px 15px;
}
nav .nav-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 5px 25px;
  border-radius: 25px;
  transition: var(--transition-3);
  background: var(--filter);
  backdrop-filter: blur(2px);
  border: 1px solid var(--border-roll-color);
}
.nav-body .nav-link {
  cursor: pointer;
  color: var(--txt-blk);
  width: 100%;
  text-transform: capitalize;
  display: flex;
  padding: 5px 0;
  font-size: var(--font-16);
  font-weight: 500;
  position: relative;
  transition: var(--transition-2);
}
.nav-link::after,
.dropdown-body a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  content: "";
  background: var(--scrollbar-thump);
  transition: var(--transition-2);
  border-radius: 5px;
}
.nav-link:hover::after,
.dropdown-body a:hover::after {
  width: 100%;
}
.nav-link p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: relative;
}
.nav-link p i {
  display: block;
  font-size: var(--font-18);
  margin-top: 2px;
  transition: var(--transition-3);
  color: var(--txt-wht-grey);
  opacity: 0.5;
}
.nav-link.nav-dropdown:hover .dropdown {
  transform: scale(1);
}
.nav-link:hover p i {
  transform: rotate(180deg);
  opacity: 0.9;
}

.nav-link.nav-dropdown .dropdown {
  position: absolute;
  width: 150px;
  top: 30px;
  padding: 2px;
  transform: scale(0);
  left: -70px;
  transition: var(--transition-2);
}
.dropdown .dropdown-body {
  margin-top: 10px;
  padding: 15px;
  box-shadow: #b8512b33 10px 4px 100px 0px;
  border: 1px solid var(--border-roll-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--filter);
  backdrop-filter: blur(5px);
  gap: 15px;
}

.dropdown-body a {
  color: var(--txt-blk);
  font-size: var(--font-16);
  font-weight: 500;
  max-width: 100%;
  width: fit-content;
  padding-bottom: 3px;
  text-transform: capitalize;
  position: relative;
}
header .head-pan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.head-pan .button-group,
.tag .button-group,
.res-buttons .button-group,
.tr-tag .button-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1px;
  transition: transform 0.5s ease-in-out;
}

.circle,
.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}
.res-buttons .button-group .pill {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}
.circle {
  background: var(--scrollbar-thump);
  color: var(--txt-wht);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: var(--font-14);
}

.pill {
  background: var(--bg-secondary-color);
  color: var(--txt-wht);
  padding: 0 30px;
  height: 38px;
  border-radius: 20px;
  font-size: var(--font-16);
  font-weight: 600;
  white-space: nowrap;
}
.button-group:hover .circle {
  transform: translateX(85px) rotate(360deg);
}
.tr-tag .button-group:hover .pill {
  transform: translateX(-37px);
}
.tr-tag .button-group:hover .circle {
  transform: translateX(155px) rotate(360deg);
}
.tag .button-group:hover .circle {
  transform: translateX(190px) rotate(360deg);
}
.tag .button-group:hover .pill {
  transform: translateX(-35px);
}

.button-group:hover .pill {
  transform: translateX(-60px);
}

.head-pan .toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  gap: 3px;
  background: var(--bg-primary-color);
  border: 1px solid var(--scrollbar-thump);
  border-radius: 35px;
  transition: var(--transition-2);
}
.toggle .toggleOn,
.toggle .toggleOff {
  width: 20px;
  border-radius: 50%;
  height: 20px;
  cursor: pointer;
  transition: var(--transition-1);
  border: 1px solid transparent;
}
.toggle .toggleOn:hover,
.toggle .toggleOff:hover {
  border: 1px solid var(--border-roll-color);
}
.toggleOn {
  background: #000;
}
.toggleOff {
  background: #fff;
}

.menu {
  position: absolute;
  top: 25px;
  right: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--scrollbar-thump);
  cursor: pointer;
}
.menu i {
  font-size: var(--font-24);
  color: var(--scrollbar-thump);
}

#responsive-nav {
  position: absolute;
  top: 20px;
  right: -100%;
  width: 450px;
  height: auto;
  background: var(--bg-secondary-color);
  border: 1px solid var(--bg-c2);
  border-radius: 20px;
  padding: 25px;
  transition: var(--transition-2);
}
#responsive-nav .res-logo {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 10px;
  padding: 2px 10px;
  
}
.res-logo img {
  width: 100px;
  background: #0000005d;
  padding:5px 15px;
  border-radius: 25px;
  backdrop-filter: blur(15px);
}
.res-logo .closeBtn {
  color: var(--bg-primary-color);
  display: block;
  transform: scale(1);
  font-size: var(--font-24);
  transition: var(--transition-1);
  cursor: pointer;
}
.res-logo .closeBtn:hover {
  color: #f0743e;
  transform: scale(1.1) rotate(90deg);
}
.res-body {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px ;
  margin: 30px 10px;
  box-shadow: rgba(45, 45, 46, 0.2) 0px 8px 24px;
  transition: var(--transition-2);
  border-radius: 20px;
}
.res-body .res-links {
  max-width: 100%;
  padding: 0 5px;
}
.res-links a {
  width: fit-content;
  padding: 5px 0;
  color: var(--bg-primary-color);
  transition: var(--transition-1);
}
.res-links a:hover {
  color: #f0743e;
}
.res-links p {
  color: var(--bg-primary-color);
  opacity: 0.8;
  margin-bottom: 10px;
}
.res-buttons {
  position: relative;
  margin-top: 20px;
  width: fit-content;
}

/* --------------------------------------------------------------
-----------------------main start here----------------------
-------------------------------------------------------------- */

/* -----------------hero section------------------  */

#hero h1 {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}
.hero-card {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background: var(--bg-primary-color);
  border-radius: 1.05rem;
}
.hero-img {
  width: 99%;
  height: 79vh;
  border-radius: 1.25rem;
  border: 8px solid var(--bg-primary-color);
  overflow: hidden;
  position: relative;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  width: 250px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  background: var(--bg-primary-color);

  left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 8px solid var(--bg-primary-color);
  border-top: 8px solid var(--bg-primary-color);
  border-bottom: 8px solid var(--bg-primary-color);
  border-right: 8px solid var(--bg-primary-color);
  padding: 10px;
  border-radius: 0 1rem 0 0;
}

.tag::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -38px;
  left: 0;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -0.355rem 0.355rem var(--bg-primary-color);
}
.tag::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  bottom: -5px;
  right: -38px;
  background: transparent;
  box-shadow: -0.355rem 0.355rem var(--bg-primary-color);
  border-bottom-left-radius: 20px;
}
.hero-badge {
  position: absolute;
  z-index: 2;
  width: 155px;
  height: 160px;
  top: -40px;
  left: 80px;
  background: var(--filter-c4);
  backdrop-filter: blur(5px);
  border: 1px solid var(--bg-primary-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 18px;
  transition: var(--transition-2);
  animation: heroBadge 5s linear infinite;
}
@keyframes heroBadge {
  0%,
  100% {
    transform: translateX(10px) translateY(5px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
}
.hero-badge h2,
.hero-badge2 h2 {
  text-align: center;
}
.hero-badge2 {
  position: absolute;
  z-index: 2;
  width: 220px;
  height: 160px;
  bottom: 40px;
  right: 50px;
  background: var(--filter-c2);
  backdrop-filter: blur(5px);
  border: 1px solid var(--bg-primary-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: heroBadge 10s linear infinite;
  animation-delay: 2s;

  padding: 18px;
  transition: var(--transition-2);
}

/* ----------------------tranform section--------------------  */
#transform h2 {
  width: 55%;
  margin: 6% auto;
  transition: var(--transition-3);

  text-align: center;
}
#transform:hover h2 {
  margin-top: 7%;
}
.transform-container {
  max-width: 100%;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  transition: var(--transition-3);
}
.transform-container:hover {
  margin-top: 25px;
}
.transform-container .tranform-card {
  width: 100%;
  height: 55vh;
  position: relative;
  transition: var(--transition-3);
}
.tranform-card:nth-child(2) {
  position: relative;
}
.transform-container:hover .t-card-txt {
  transform: translateY(-100px);
}
.transform-container:hover .tranform-card:nth-child(2) {
  transform: translateY(-50px);
}
.tranform-card .font-18 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding: 5px 10px;
}
.tranform-card .font-18.t-card-txt {
  margin-top: 100px;
  transition: 2s;
}
.tranform-card .transform-img {
  height: 55vh;
  border-radius: 15px;
  transition: var(--transition-3);
}
.transform-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.tr-tag {
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 8px solid var(--bg-primary-color);
  border-top: 8px solid var(--bg-primary-color);
  border-bottom: 8px solid var(--bg-primary-color);
  border-right: 8px solid var(--bg-primary-color);
  padding: 10px;
  border-radius: 1rem 1rem 0 0;
}
.tr-tag .button-group {
  z-index: 10;
}
.tr-tag .button-group i {
  color: var(--bg-secondary-color);
}
.tr-tag::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  bottom: -9px;
  left: -38px;

  box-shadow: 0.355rem 0.355rem var(--bg-primary-color);
  background: transparent;
  border-bottom-right-radius: 20px;
}
.tr-tag::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  bottom: -9px;
  right: -38px;
  background: transparent;
  box-shadow: -0.355rem 0.355rem var(--bg-primary-color);

  border-bottom-left-radius: 20px;
}

/* ----------------------align section--------------------  */
#align h3{
  width: 50%;
  margin: 15px auto;
  text-align: center;
}
#align .align-container{
  max-width: 100%;
  width: 100%;
  margin-top: 10%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  transition: var(--transition-1);
}
.align-container .align-card{
  width: 100%;
  height: 450px;
  border-radius: 20px;
  position: relative;
  border: 1px solid var(--bg-primary-color);
  transition: var(--transition-2);
  
}
.align-card .align-img{
  position: relative;
  width: 100%;
  height: 450px;
    border-radius: 20px;
    transition: var(--transition-2);
    overflow: hidden;
   

}
.align-container .align-card:nth-child(1){
  transform: rotate(-3deg);
    border-radius: 20px;
}
.align-container .align-card:nth-child(3){
  transform: rotate(3deg);
    border-radius: 20px;
}

.align-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
   border-radius: 20px;
   transition: 3s ease;
    transform: scale(1) ;
}
.align-img-card{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 160px;
  padding: 18px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.align-img .align-img-card.ai-1{
  background: var(--bg-c4);
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transition: var(--transition-2);
}
.align-img .align-img-card.ai-2{
    background: var(--bg-c1);
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transition: var(--transition-2);

}
.align-img .align-img-card.ai-3{
   background: var(--bg-c3);
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transition: var(--transition-2);

}
.align-img:hover .ai-1,
.align-img:hover .ai-2,
.align-img:hover .ai-3{
  opacity: 1;
}


@media (max-width: 1280px) {
  #transform .transform-container {
    grid-template-columns: 1fr;
  }
  .transform-container .tranform-card:nth-child(2) {
    height: 80vh;
  }
  .transform-container .tranform-card:nth-child(1) {
    height: 20vh;
    margin-bottom: 100px;
  }
  .transform-container .tranform-card:nth-child(3) {
    height: 30vh;
  }
  .tranform-card .transform-img {
    height: 80vh;
  }
  #transform h2 {
    width: 80%;
  }
  #align .align-container{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .align-img-card.ai-1{
  position: absolute;
  bottom: 0;
  left: 10%;
  top: 2%;
  width: 35%;
  height: 220px;
  animation: heroBadge 5s linear infinite;
}
.align-img-card.ai-2{
  position: absolute;
  bottom: 0;
  left: 10%;
  top: 2%;
  width: 35%;
  height: 220px;
  animation: heroBadge 10s linear infinite;
}
.align-img-card.ai-3{
  position: absolute;
  bottom: 0;
  left: 10%;
  top: 2%;
  width: 35%;
  height: 220px;
  animation: heroBadge 8s linear infinite;
}

}

@media (max-width: 980px) {
  .head-pan .button-group {
    display: none;
    opacity: 0;
  }
  #hero h1 {
    width: 95%;
  }
  .hero-img {
    height: 40vh;
  }
  .hero-card {
    height: auto;
  }
  .hero-badge,
  .hero-badge2,
  .tag {
    width: 100%;
    position: relative;
    animation: none;
    top: 0;
    left: 0;
    margin-bottom: 10px;
  }
  #align h3{
  width: 80%;
  transition: var(--transition-2);
 
}
}
@media (max-width: 768px) {
  nav .nav-body {
    display: none;
  }
  .menu {
    right: 12%;
  }
  .head-pan .toggle {
    margin-right: 50px;
  }
}
